
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
    justify-content: center;
  align-items: center;
 
  display: flex;
  }
  h1{
    font-family: 'Times New Roman', Times, serif;
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    min-width: 400px;
    /* max-width:600 ; */
    border-radius: 5px;
    padding: 20px;
  }
  .input{
    width: 100%;
    max-width: 200px;
    height: 40px;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
    outline: 1px solid #007bff;
    border-radius: 5px;
    font-size: 14px; /* Reduced font size */
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 5px;
    padding: 10px 15px;
    
    border-radius: 5px;
    font-size: 14px; /* Reduced font size */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    /* Centers the text */
  }
 
  
  /* @media (min-width: 968px){
      form {
          flex-direction: column;
      }
  
      form input[type="text"]{
          width: 100%;
          margin-bottom: 10px;
      }
  } */